.container {
    background-color: #FFF7EC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    width: 100%;
    margin-top: 130px;

    /* @media (max-width: 768px) {
        padding: 30px;
    } */
}

.wrapperTitle {
    max-width: 800px;
    /* width: 100%; */
    @media (max-width: 768px) {
        max-width: 660px;
        padding: 0px 20px;
        
        
    }
}

.Title {
    color: #033F73;
    font-size: 52px;
    font-weight: 400;

    @media  (max-width: 768px) {
        font-size: 45px; 
    }
}

.paragraph {
    color: #0101018F;
    font-size: 16px;
    font-weight: 400;
}

.wrapperParagraph {
    max-width: 520px;
    
    @media  (max-width: 768px) {
       padding: 0px 20px;
    }
}

.carousel{
    /* flex: 1; */
    width: 100%;
    padding-top: 20px;
    /* display: flex;
    flex-direction: row; */
    margin: 0px;

    @media (max-width: 768px) {
        display: none; 
    }
}