#root {
background-color: #FFFFFF;
  margin: 0 !important;
  padding: 0 !important;

}

/* .typebot-bubble-button {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
} */


html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}
body {
  overflow-x: hidden;
}